body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url("./bg.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    /* background-size: auto 100%; */
}
  
#world {
    position: absolute;
    top: 0;
    z-index: 3;
    pointer-events: none;
}

h1 {
    position: absolute;
    text-align: center;
    display: inline-block;
    bottom: 5vh;
    margin: 0;
    z-index: 4;
    font-size: 7vw;
    font-family: "sans-serif";
}

#feels-amazing-man {
    width: 25vw;
    height: 25vw;
    position: absolute;
    left: 7vw;
    top: 20vh;
    rotate: 20deg;
    animation-name: rotate-1;
    animation-timing-function: steps(2, jump-none);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#point-right {
    height: 25vw;
    margin-top: 1%;
    position: absolute;
    left: 38vw;
    top: 20vh;
    rotate: -10deg;
    animation-name: rotate-2;
    animation-timing-function: steps(2, jump-none);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotate-1 {
    to {
        rotate: -20deg;
    }
}

@keyframes rotate-2 {
    to {
        rotate: 10deg;
    }
}

.box {
    width: 20vw;
    height: 20vw;
    top: 20vh;
    left: 67vw;
    position: absolute;
    display: flex;
    justify-content: center;
}

.box-body {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 20%;
    background-color: #cc231e;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(#762c2c,#ff0303);
}
.box-body:hover {
    cursor: pointer;
}
.box-body::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    background: linear-gradient(#ffffff,#ffefa0)
}

.img {
    width: 11vw;
    height: 11vw;
    align-self: flex-end;
    position: absolute;
    z-index: 1;
}

#abobus {
    left: -3vw;
}

#mf {
    right: -4vw;
}

.box-lid {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90%;
    height: 40px;
    background-color: #cc231e;
    height: 40px;
    width: 100%;
    border-radius: 5%;
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}
.box-lid::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    background: linear-gradient(#ffefa0,#fff)
}

.box-bowtie {
    z-index: 1;
    height: 100%;
}
.box-bowtie::before, .box-bowtie::after {
    content: "";
    width: 83;
    height: 83;
    border: 16px solid white;
    border-radius: 50% 50% 0 50%;
    position: absolute;
    bottom: 100%;
    z-index: -1;
}
.box-bowtie::before {
    left: 50%;
    transform: translateX(-100%) skew(10deg, 10deg);
}
.box-bowtie::after {
    left: 50%;
    transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
}


.img-animate {
    transform: translateY(-150%);
    transition: 1s;
    transition-delay: 0.5s;
}
.lid-animate {
    animation: box-lid 1s forwards ease-in-out;
}

@keyframes box-lid {
    0%, 20% {
        transform: translate(-50%, 0%) rotate(0deg);
    }
    50% {
        transform: translate(15%, -130%) rotate(25deg);
    }
    90%, 100% {
        transform: translate(30%, 325%) rotate(70deg);
    }
}
  
.area {
    text-align: center;
    font-size: 6.5em;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur 0.8s ease-in-out infinite;
    text-shadow: 0px 0px 15px blue, 0px 0px 7px pink;
    color: rgb(240, 240, 255);
  }
  
  @keyframes blur {
    0% {
        transform: scale(1.2);
    }

    50% {
        color: rgb(255, 255, 250);
        text-shadow:
            0px 0px 10px white,
            0px 0px 25px red,
            0px 0px 5px red,
            0px 0px 5px white,
            0px 0px 150px #7B96B8,
            0px 10px 100px purple,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px -10px 100px #7B96B8,
            0px -10px 100px #7B96B8;
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
  }
  
  .message {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    position: absolute;
    top: 0;
    background-color: black;
  }

  .message button {
    font-size: 7vw;
  }

  .hide {
    transition: 1.5s;
    opacity: 0;
    pointer-events: none;
  }

  .mobile {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 7vw;
    color: white;
    height: 100%;
    width: 100%;
  }

  .pc {
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-device-width: 640px) {
    .mobile {
        visibility: visible;
    }

    #vika {
        visibility: hidden;
    }

    .pc {
        visibility: hidden;
    }
}